<head>
  	<title>CodeStreamer — Stream you code process</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	{{> page}}
</body>

<template name="page">
	{{> header}}
  	
  	<section class="page">
		{{#if showPreview}}
			<div class="editor-wrap">
				{{> editor}}
			</div>
			<div class="preview-wrap">
				{{> preview}}
			</div>
		{{else}}
			{{> editor}}
		{{/if}}
	</section>
</template>

<template name="preview">
	<iframe width="100%" height="100%" frameborder="no" id="iframe" src="data:text/html;charset=utf-8,{{codePreview}}" />
</template>