<template name="menu">
	<ul class="nav navbar-nav">
		<li class="theme-switcher">
			<a href="javascript:void(0)">
				<i class="theme-switcher__icon"></i>
			</a>
		</li>

		<li class="dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{currLangTitle}}</a>
			<ul class="dropdown-menu">
				{{#eachProp langs}}
						<li class="{{activeClass property currLang}}">
							<a href="javascript:void(0)" data-mode="{{property}}">
								{{value}}
							</a>
						</li>
				{{/eachProp}}
			</ul>
		</li>
	</ul>
</template>